:root {
  font-size: 18px; }

@media only screen and (min-width: 600px) {
  :root {
    font-size: 22px; } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: Work Sans;
  padding: 0;
  margin: 0;
  background: #fcfdff; }

.header-container {
  background-color: #2CABF2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.container {
  padding: 0 2em 0 0;
  background-color: #2CABF2; }

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 0.5em; }

.logo {
  display: none; }
  @media (min-width: 725px) {
    .logo {
      display: block;
      border: 2px solid #fcfdff;
      color: #fcfdff;
      position: absolute;
      padding: .5rem;
      margin: 0;
      bottom: .4rem;
      left: 5rem; } }

.main-nav {
  z-index: 100;
  background-color: rgba(44, 171, 242, 0.95);
  position: fixed;
  top: 0;
  right: 0;
  left: 100%;
  overflow: hidden;
  -webkit-transition: all ease-in-out 250ms;
  -o-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }
  @media (min-width: 725px) {
    .main-nav {
      left: 0;
      position: fixed;
      padding: 1em 3em 1em 15em;
      -webkit-box-flex: 1;
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto;
      text-align: right; } }
  .main-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
    height: 100vh; }
    @media (min-width: 725px) {
      .main-nav ul {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        height: auto; } }
  .main-nav li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (min-width: 725px) {
      .main-nav li {
        display: inline-block;
        border: none;
        text-align: right; } }
  .main-nav a {
    font-size: 1.5rem;
    color: #fcfdff;
    text-decoration: none;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media (min-width: 725px) {
      .main-nav a {
        font-size: 0.9rem;
        display: inline;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
        flex-basis: auto; }
        .main-nav a.current {
          padding-bottom: 0.25rem;
          border-bottom: 2px solid #fcfdff; } }
    .main-nav a:hover {
      background: rgba(0, 0, 0, 0.1); }
      @media (min-width: 725px) {
        .main-nav a:hover {
          background: none;
          color: rgab(0, 0, 0, 0.15); } }
  .main-nav.is-open {
    left: 0; }

.nav-toggle {
  position: fixed;
  z-index: 100;
  display: block;
  background-color: rgba(44, 171, 242, 0.95);
  padding: 1em;
  right: 1em;
  top: 1em;
  cursor: pointer; }
  @media (min-width: 725px) {
    .nav-toggle {
      display: none; } }

.hamburger,
.hamburger::after,
.hamburger::before {
  content: '';
  display: block;
  width: 2em;
  height: 3px;
  background: #fcfdff;
  -webkit-transition: all ease-in-out 250ms;
  -o-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms; }

.hamburger::before {
  -webkit-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px); }

.hamburger::after {
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px); }

.hamburger.is-open {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }
  .hamburger.is-open::after {
    -webkit-transform: rotate(-90deg) translateX(3px);
    -ms-transform: rotate(-90deg) translateX(3px);
    transform: rotate(-90deg) translateX(3px); }
  .hamburger.is-open::before {
    opacity: 0; }

.skills {
  list-style: none;
  margin: 0;
  padding: 0; }

a.mailto {
  color: #3B3B3B;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 2px solid #2CABF2; }

.container {
  display: grid;
  grid-template-columns: 1fr; }

section {
  padding: 20vh 0 40vh; }

section:last-of-type {
  padding: 20vh 0 10vh; }

.one {
  background: #2CABF2;
  position: relative;
  color: #fcfdff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "nav nav nav nav" "header header header header" "sub sub sub sub"; }

.one::after,
.one::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 150px;
  background: red;
  bottom: -1em; }

.one::before {
  background: #2CABF2;
  right: 50%;
  -webkit-transform: skew(0, 20deg);
  -ms-transform: skew(0, 20deg);
  transform: skew(0, 20deg);
  z-index: 90; }

.one::after {
  background: #2CABF2;
  left: 50%;
  -webkit-transform: skew(0, -20deg);
  -ms-transform: skew(0, -20deg);
  transform: skew(0, -20deg);
  z-index: 90; }

.two {
  color: #3B3B3B;
  background: #fcfdff;
  position: relative;
  position: relative;
  z-index: 10;
  margin-bottom: -4vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 4vw), 0 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "header header header header" "sub sub sub sub"; }

.footer {
  padding: 8vh 0 20vh;
  color: #fcfdff;
  background: #2CABF2;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "header header header header" "sub sub sub sub"; }

.split {
  height: auto;
  background-image: url("img/hypnotize.png");
  color: #3B3B3B;
  display: grid;
  grid-template-areas: "title" "about";
  grid-auto-rows: auto;
  grid-gap: 1rem; }

@media (min-width: 500px) {
  .split {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "title about"; } }

.split__title {
  grid-area: title;
  font-family: Playfair Display;
  font-size: 3rem;
  line-height: 1;
  justify-self: center; }

@media (min-width: 700px) {
  .split__title {
    margin: 1rem 0 0 3rem; } }

.split__about {
  grid-area: about;
  border-left: 5px solid #2CABF2;
  font-family: Work Sans;
  color: #3B3B3B;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.20;
  padding: 0 0 0 0.5rem;
  margin: 0 5%;
  -webkit-align-self: start;
  -ms-flex-item-align: start;
  align-self: start; }

@media (min-width: 500px) {
  .split__about {
    margin: 0 20% 0 0; } }

.split__about--info {
  color: #3B3B3B;
  margin: 0; }

.quote {
  border-left: 5px solid #2CABF2;
  padding-left: 5px;
  color: #3B3B3B; }

.post-content {
  color: #3B3B3B; }

.content {
  overflow: auto; }

.read-more {
  height: 200px;
  overflow: hidden; }

.read-more__button.hidden {
  display: none; }

.read-more__button {
  margin-top: 2%;
  font-family: Work Sans;
  background-color: #2CABF2;
  border: none;
  color: #fcfdff;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.75rem; }

.read-more__button:hover {
  background-color: #1d89c4;
  cursor: pointer; }

.read-more__button:focus {
  outline: none; }

.date {
  font-family: Inconsolata;
  font-size: 0.6rem;
  color: #3B3B3B;
  text-transform: uppercase;
  letter-spacing: 0.2rem; }

.post {
  float: left;
  margin: 0 auto 10px;
  padding: 10px 0;
  max-width: 700px;
  width: 90%;
  margin-bottom: 2%;
  line-height: 1.20; }

.post-image {
  margin: 0rem .7rem 1.5rem 0;
  width: 70%; }

figure {
  position: relative;
  font-size: .5rem;
  margin: 0;
  padding: 0; }

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50%; }

.round {
  margin-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 20%;
  border-radius: 50%; }
  @media (min-width: 500px) {
    .round {
      width: 40%; } }
  .round:hover {
    content: url("/img/tom-computer-2.jpg"); }

h1.page_title {
  grid-area: header;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  justify-self: center;
  font-family: Playfair Display;
  font-size: 3rem;
  padding: 0 5%;
  line-height: 1;
  margin: 0 0 1rem; }

.info-title {
  font-family: Inconsolata;
  font-size: 0.6rem;
  color: #3B3B3B;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: .25rem; }

section.blog {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header"; }

section.blog h1 {
  color: #3B3B3B; }

h2 {
  margin-top: 20px;
  font-family: Playfair Display;
  color: #3B3B3B;
  font-size: 1.5rem;
  font-weight: 700; }

h2.sub_title {
  grid-area: sub;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  justify-self: center;
  font-family: Work Sans;
  color: #fcfdff;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1;
  padding: 0 5%; }

h3 {
  font-size: 1rem;
  line-height: 1.20;
  color: #3B3B3B; }

p {
  font-size: 1rem;
  line-height: 1.20;
  color: #fcfdff; }

.post {
  font-size: 1rem;
  line-height: 1.20; }

hr {
  margin-top: 5%;
  height: 5px;
  background-color: #2CABF2;
  border: 0;
  width: 80%; }
